.header {
  background-color: darken(cadetblue, 10%);
  color: #fff;
  //position: fixed;
  //left: 0;
  //top: 0;
  //right: 0;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  font-size: 2rem;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }

  img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }

  span {
    @media (max-width: 500px) {
      display: none;
    }
  }
}

.nav {
  display: flex;
  align-items: center;

  ul {
    padding: 0;
    display: flex;
    list-style: none;
  }

  li {
    &:not(:first-of-type) {
      margin-left: 5px;
    }

    a {
      padding: .5rem 1rem;
      color: #fff;
      border-radius: 3.5px;
      text-decoration: none;
      background-color: hsla(0,0%,100%,.15);
      transition: background-color;

      &:hover {
        background-color: hsla(0,0%,100%,.225);
      }
    }
  }
}
