<header class="header">
  <mat-progress-bar *ngIf="wikipediaService.isLoading" mode="indeterminate"></mat-progress-bar>
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img width="300" height="274" src="assets/wikipedia-logo.png" alt="Wikipedia logo">
        <span>
          WikipediaSearch
        </span>
      </a>
    </div>
    <nav class="nav">
      <ul>
        <li>
          <a routerLink="/">
            Search
          </a>
        </li>
        <li>
          <a routerLink="/about">
            About
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
