<form [formGroup]="searchForm">
  <h1>Search for it</h1>
  <tui-input formControlName="searchString">
    Type a search query string
  </tui-input>
</form>

<div class="results">
  <h3>Clickable results:</h3>
  <ng-container *ngIf="(wikipediaService.searchResult$ | async) as articles; else noResults">
    <ul class="available-articles" *ngIf="articles.length > 0">
      <li *ngFor="let article of articles">
        <a [routerLink]="['/articles/', article.title.split(' ').join('_')]">
          {{ article.title }}
        </a>
      </li>
    </ul>
    <div *ngIf="articles.length === 0">
      No results for given query
    </div>
  </ng-container>

  <ng-template #noResults>
    No results yet
  </ng-template>
</div>
